{% extends 'blog_app/base.html' %}

{% block content %}

    <h2 id="srodek">Wprowadź poniższe dane, aby się zalogować</h2>
    <div class="form">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p>{{ form.errors }}</p>
            {% endif %}
            {% for field in form %}

            <label>{{ field.label_tag }}</label>
            <div>{{ field }}</div>

        {% endfor %}
            <button type="submit">Zaloguj</button>
        </form>
    </div>

{% endblock %}

{% block right %}

    <nav>
        <ul>
            <li><a href="{% url 'homePage' %}">Przerwij logowanie</a></li>
        </ul>
    </nav>

{% endblock %}
