{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <link rel="stylesheet" type = "text/css" href="{% static 'blog_app/style.css' %}"/>

    </head>


    <body>

        <header id="header">

            <div>
                <p>Blogonatron</p>
            </div>

            {% block top %}
            {% endblock %}

            <div style="float: right; padding-right: 15px;">

                {% if error1 %}
                    <p style="color: red; font-size: 0.75em;">Wpisz szukaną frazę.</p>
                {% endif %}
                <label style="font-size:0.8em">Szukaj użytkowników</label>

                <form action="{% url 'userSearch' %}" method="get">

                    <input type="text" name="q">
                    <input type="submit" value="Szukaj">

                </form>

            </div>

            <p>
                {% if user.is_authenticated %}

                    Witaj, {{ user.username }} <a href="/accounts/logout"> (wyloguj się)</a>

                {% else %}

                    Witaj!

                {% endif %}

            </p>

        </header>

        <nav id="container">

		<main id="center" class="column">

				{% block content %}
                {% endblock %}

		</main>

        <nav id="left" class="column">

            {% block left %}
            {% endblock %}

        </nav>

        <nav id="right" class="column">

            {% block right %}
            {% endblock %}

        </nav>


        </nav>

        <div id="footer-wrapper">

		    <footer id="footer"><p>Show™ 2018</p></footer>

        </div>

    </body>

</html>
