{% extends 'blog_app/base.html' %}

{% block content %}

    <head>

        <title>Blogonatron</title>

    </head>

    <body>

        <h2>Strona główna</h2>

        <div>

            {% if posts %}

                <h3>Ostatnio dodane artykuły:</h3>

                {% for post in posts %}
                    <h3><a href="{% url 'articlePage' post.id %}">{{ post.nazwa }}</a></h3>
                    <p>Autor:<a href="{% url 'userProfile' post.autor.username %}"> {{ post.autor.username }}</a> {{ post.dataUtworzenia }}</p>
                {% endfor %}

            {% endif %}

        </div>

        <script>

            {% if message %}

                alert('{{ message }}');

            {% endif %}

        </script>

    </body>




{% endblock %}

{% block left %}

    <nav>

        <ul>

            {% if user.is_authenticated %}

                <li><a href="{% url 'userProfile' user.username %}">Wyświetl swój profil</a></li>

            {% endif %}

        </ul>

    </nav>



{% endblock %}

{% block right %}

    <nav>

        <ul>

            {% if not user.is_authenticated %}
                <li><a href="{% url 'registerForm' %}">Zajejestruj się</a></li>
                <li><a href="/accounts/login">Zaloguj się</a></li>
            {% else %}
                <li><a href="/accounts/logout">Wyloguj się</a></li>
            {% endif %}

        </ul>

    </nav>

{% endblock %}
