{% extends 'blog_app/base.html' %}

{% block top %}

    <div style="float: right; padding-right: 15px;">

        {% if error %}
            <p style="color: red;">Wpisz szukaną frazę.</p>
        {% endif %}
        <label style="font-size:0.8em">Szukaj artykułów</label>

        <form action="{% url 'articleSearch' %}" method="get">

            <input type="text" name="q">
            <input type="submit" value="Szukaj">

        </form>

    </div>

{% endblock %}

{% block content %}

    <head>

        <title>Blogonatron</title>

    </head>

    <body>

        <h2>Strona główna</h2>

        <div>

            {% if posts %}

                <h3>Ostatnio dodane artykuły:</h3>
                <nav>
                    <ul>
                        {% for post in posts %}

                            <li>
                                <h3><a href="{% url 'viewArticle' post.id %}">{{ post.nazwa }}</a></h3>
                                <p>Autor:<a href="{% url 'userProfile' post.autor.username %}"> {{ post.autor.username }}</a> {{ post.dataUtworzenia }}</p>
                            </li>

                        {% endfor %}
                    </ul>

                </nav>


            {% endif %}

        </div>

        <script>

            {% if message %}

                alert('{{ message }}');

            {% endif %}

        </script>

    </body>




{% endblock %}

{% block left %}

    <nav>

        <ul>

            {% if user.is_authenticated %}

                <li><a href="{% url 'userProfile' user.username %}">Wyświetl swój profil</a></li>

            {% endif %}

        </ul>

    </nav>



{% endblock %}

{% block right %}

    <nav>

        <ul>

            {% if not user.is_authenticated %}
                <li><a href="{% url 'registerForm' %}">Zajejestruj się</a></li>
                <li><a href="/accounts/login">Zaloguj się</a></li>
            {% else %}
                <li><a href="/accounts/logout">Wyloguj się</a></li>
            {% endif %}

        </ul>

    </nav>

{% endblock %}
