{% extends 'blog_app/base.html' %}

{% block content %}

    <head>

        <div>
            <title>{{ user.username }}</title>
            <h3>Profil użytkownika {{ user.username }}</h3>
        </div>



    </head>

    <body>

        <section>
            <p>Imię: {{ user.first_name }}</p>
            <p>Nazwisko: {{ user.last_name }}</p>
            <p>E-mail: {{ user.email }}</p>
        </section>

    </body>

    <script>
        {% if message %}
            alert('{{ message }}');
        {% endif %}
    </script>

{% endblock %}

{% block left %}

    <nav>

        <ul>
            <li><a href="{% url 'homePage' %}">Strona główna</a></li>
            <li><a href="{% url 'blogPage' user.username %}">Przejdz do bloga</a></li>
        </ul>

    </nav>


{% endblock %}
