{% extends 'blog_app/base.html' %}

{% block content %}
    <head>
        <title>Wyniki wyszukiwania</title>
    </head>

    <body>
        <p>Wyszukiwana fraza: <strong>{{ query }}</strong></p>

        {% if results %}
            <p>Znaleziono:</p>
            <ul style="list-style-type: square;">
                {% for result in results %}
                    <li><a href="{% url 'userProfile' result.username %}">{{ result.username }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nie znaleziono użytkowników pasujących do wyszukiwanej frazy.</p>
        {% endif %}
    </body>
{% endblock %}

{% block left %}

    <nav>

        <ul>
            <li><a href="{% url 'homePage' %}">Strona główna</a></li>
        </ul>

    </nav>

{% endblock %}
