		#container {
			padding-left: 200px;
			padding-right: 190px;
			overflow: hidden;
		}

		#container .column {
			position: relative;
			float: left;
			padding-bottom: 1001em;
			margin-bottom: -1000em;
			padding-top: 1em;
		}

		#center {
			padding: 10px 20px;
			width: 100%;
			background: #50E3C5;
		}

		#left {
			width: 180px;
			padding: 0 10px;
			right: 240px;
			margin-left: -100%;
			background: #328CDC;
			border-right: 1px solid black;
		}

		#right {
			width: 130px;
			padding: 0 10px;
			margin-right: -100%;
			background: #5ABEE6;
			border-left: 1px solid black;
		}

		#footer {
			clear: both;
		}

		/* IE hack */
		* html #left {
			left: 150px;
		}

		/* Fix for the footer */
		* html body {
			overflow: hidden;
		}

		* html #footer-wrapper {
			float: left;
			position: down;
			width: 100%;
			padding-bottom: 10010px;
			margin-bottom: -10000px;
			background: #fff;
		}

		/* Aesthetics */
		body {
			min-width: 630px;
			margin: 0;
			padding: 0;
			font-family:Sans-serif;
			line-height: 1.5em;
		}

		p {
			color: #555;
		}

		nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		nav ul a {
			color: darkgreen;
			text-decoration: none;
		}

		#header, #footer {
			font-size: large;
			padding: 0.3em;
			background: #000000;
		}

		#header div {
            display: inline-block;
            color: #555;
        }

        .form {
            height: 280px;
            width: 220px;
            padding: 0px 40px 60px 40px;
            background-color: white;
            border-radius: 5px;
            border: 2px solid black;
            text-align: center;
            position: relative;
            margin: auto;
            overflow: hidden;
        }

        #srodek {
            text-align: center;
        }

        .comment {
            border-radius: 5px;
            border: 1px solid black;
            background-color: #12db75;
        }

        #answer {
            margin-left: 40px;
        }

        .articleHead {
            border-radius: 5px;
            border: 1px solid black;
            background-color: #ffff99;
        }

